* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* The header  - dark blue with my name large on the left and relevant links on the right.*/
header, footer {
    background-color: rgb(6 48 73);
    color: white;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

header nav ul,
footer nav ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 40px;
}

/* Getting rid of the bullet points. */
header ul li,
footer ul li {
    display: inline-block;
    margin-left: 30px;
}

/* Taking away the decoration and underlining of the links for the whole page.
They will have a hover effect (see below) */
a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

/* Decorative banner below the header */
#banner {
    height: 90px;
    background-image: url(./../images/binary.PNG);
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

/* Left bar has my picture and contact information with links. Set up as a flex column*/
#left-bar {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #2f5164, #89c0e0);
    width: 20%;
    height: 1000px;
    border: solid 2px #365f77;
}

/* My picture made into a circle. */
#left-bar img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 50%;
    width: 70%;
}

#left-bar nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 40px;
    color: white;
}

#left-bar a:hover {
    color: navy;
}

#right-side {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 1000px;
}

#right-side h2 {
    font-size: 2rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#about-me {
    display: block;
    border: 3px
    border-radius: 3px solid black;
    border-radius: 10px;
    margin: 50px;
    background-color: #77a5bf;
}

#about-me h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
}

#about-me p {
    color: white;
    font-size: 1.2rem;
    margin: 20px;
}

/* a shorter about me that is not shown on larger screens. */

#short-about-me {
    display: none;
    padding: 10px;
}

/* Each card with project examples. Set up in a flex-wrapped flex-box. aligned flex-end so that the  */
/* boxes themselves line up. The descriptions are above the boxes so they aren't opaque. */
/* boxes become opaque on hover. */

#cards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#cards p {
    display: block;
    width: 240px;
    margin: auto;
    font-size: 1.3rem;
    color: white;
}

.card {
    display: block;
    margin: 20px;
    width: 250px;
    height: 150px;
    border: 5px solid black;
    border-radius: 10px;
    opacity: 0.6;
    background-size: cover;
}

.card:hover {
    opacity: 1.0;
    transform: scale(1.1);
}

#card-1 {
    background-image: url(../images/catan.jpg);
}

#card-2 {
    background-image: url(../images/refactor_Assignment.PNG);
}

#card-3 {
    background-image: url(../images/PW_generator.PNG);
}

/* More cards to add later

#card-4 {
    background-image: url();
}

#card-5 {
    background-image: url();
}


#card-6 {
    background-image: url();
}

*/


/* Media Queries */

footer nav {
    margin: auto;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

    main {
        flex-direction: column;
        width: 100%;
    }

    #left-bar {
        width: 100%;
    }

    #right-side {
        width: 100%;
        height: 1500px;
    }

}

@media screen and (max-width: 400px) {
    #left-bar {
        height: 520px;
    }

    /* Make the about me smaller and show a shorter version of the about me. */
    #about-me h2 {
        font-size: 1rem;
    }
    
    #short-about-me {
        display: inline;
    }

    /* Make the longer paragraphs about me disappear. */
    .long-about-me {
        display: none;
    }

    header {
        flex-wrap: wrap;
    }

    header h1 {
        margin: auto;
    }
}